In [1]:
# Dependencies and Setup
import pandas as pd
import csv
import os

# Files to Load
crypto_path = os.path.join(os.getcwd(), "Resources", "crypto_data", "cryptoData.csv")
stock_path = os.path.join(os.getcwd(), "Resources", "stock_data", "stockData.csv")

In [2]:
# Read Files and Store Into Pandas Data Frame
crypto_df = pd.read_csv(crypto_path)
stock_df = pd.read_csv(stock_path)

In [3]:
crypto_df.head()

  Currency          Date  Open  High   Low Close      Volume   Market Cap
0    tezos  Dec 04, 2019  1.29  1.32  1.25  1.25  46,048,752  824,588,509
1    tezos  Dec 03, 2019  1.24  1.32  1.21  1.29  41,462,224  853,213,342
2    tezos  Dec 02, 2019  1.25  1.26  1.20  1.24  27,574,097  817,872,179
3    tezos  Dec 01, 2019  1.33  1.34  1.25  1.25  24,127,567  828,296,390
4    tezos  Nov 30, 2019  1.31  1.37  1.31  1.33  28,706,667  879,181,680

In [4]:
stock_df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [5]:
stock_df["Index"].unique()

array(['HSI', 'NYA', 'IXIC', '000001.SS', 'N225', 'N100', '399001.SZ',
       'GSPTSE', 'NSEI', 'GDAXI', 'SSMI', 'TWII', 'J203.JO'], dtype=object)

In [6]:
crypto_df["Currency"].unique()

array(['tezos', 'binance-coin', 'eos', 'bitcoin', 'tether', 'xrp',
       'bitcoin-cash', 'stellar', 'litecoin', 'ethereum', 'cardano',
       'bitcoin-sv'], dtype=object)

In [7]:
## Need to get dates in the same format on both dataframes
## Will use built-in datetime functions

import datetime
for index, row in crypto_df.iterrows():
    row["Date"] = row["Date"].replace(',', '')
    new_date = datetime.datetime.strptime(row["Date"], '%b %d %Y')
    row["Date"] = new_date
    
    
## Also need to convert date from string to datetime.date object for comparison purposes    
stock_df["Date"] = pd.to_datetime(stock_df["Date"])

In [8]:
## Make sure it looks the way we want it to

crypto_df.head()

,Currency,Date,Open,High,Low,Close,Volume,Market Cap
0,tezos,2019-12-04 00:00:00,1.29,1.32,1.25,1.25,"46,048,752","824,588,509"
1,tezos,2019-12-03 00:00:00,1.24,1.32,1.21,1.29,"41,462,224","853,213,342"
2,tezos,2019-12-02 00:00:00,1.25,1.26,1.20,1.24,"27,574,097","817,872,179"
3,tezos,2019-12-01 00:00:00,1.33,1.34,1.25,1.25,"24,127,567","828,296,390"
4,tezos,2019-11-30 00:00:00,1.31,1.37,1.31,1.33,"28,706,667","879,181,680"

In [9]:
stock_df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [10]:
## Now let's find the earliest date in our crypto df as it has the shortest timeframe

earliest_date = min(crypto_df["Date"])
print(earliest_date)
latest_date = max(crypto_df["Date"])
print(latest_date)

2013-04-28 00:00:00
2019-12-04 00:00:00

In [11]:
## Now create a filter to get the stock data >= that earliest date from crypto_df

updated_stock_df = stock_df[(stock_df["Date"] >= earliest_date) & (stock_df["Date"] <= latest_date)]
updated_stock_df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
6500,HSI,2013-04-29,22567.63086,22647.58984,22488.65039,22580.76953,22580.76953,1.351366e+09,2935.500039
6501,HSI,2013-04-30,22769.58984,22862.68945,22669.53906,22737.00977,22737.00977,1.599209e+09,2955.811270
6502,HSI,2013-05-02,22692.33008,22706.07031,22552.31055,22668.30078,22668.30078,1.434954e+09,2946.879101
6503,HSI,2013-05-03,22811.83984,22886.16992,22678.66992,22689.96094,22689.96094,1.280292e+09,2949.694922
6504,HSI,2013-05-06,22967.77930,22980.56055,22864.91016,22915.08984,22915.08984,1.327646e+09,2978.961679

In [12]:
## Now lets convert "currency" header to index for concatonation purposes
crypto_df = crypto_df.rename(columns={"Currency" : "Index" })
crypto_df.head()

   Index                 Date  Open  High   Low Close      Volume   Market Cap
0  tezos  2019-12-04 00:00:00  1.29  1.32  1.25  1.25  46,048,752  824,588,509
1  tezos  2019-12-03 00:00:00  1.24  1.32  1.21  1.29  41,462,224  853,213,342
2  tezos  2019-12-02 00:00:00  1.25  1.26  1.20  1.24  27,574,097  817,872,179
3  tezos  2019-12-01 00:00:00  1.33  1.34  1.25  1.25  24,127,567  828,296,390
4  tezos  2019-11-30 00:00:00  1.31  1.37  1.31  1.33  28,706,667  879,181,680

In [13]:
## Now we need to add a qualitative identifier stock index is different than currency index
crypto_df['ID'] = 'c'
updated_stock_df['ID'] = 's'

<ipython-input-13-0422ac817b5e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updated_stock_df['ID'] = 's'

In [14]:
crypto_df.head()

,Index,Date,Open,High,Low,Close,Volume,Market Cap,ID
0,tezos,2019-12-04 00:00:00,1.29,1.32,1.25,1.25,"46,048,752","824,588,509",c
1,tezos,2019-12-03 00:00:00,1.24,1.32,1.21,1.29,"41,462,224","853,213,342",c
2,tezos,2019-12-02 00:00:00,1.25,1.26,1.20,1.24,"27,574,097","817,872,179",c
3,tezos,2019-12-01 00:00:00,1.33,1.34,1.25,1.25,"24,127,567","828,296,390",c
4,tezos,2019-11-30 00:00:00,1.31,1.37,1.31,1.33,"28,706,667","879,181,680",c

In [15]:
updated_stock_df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD,ID
6500,HSI,2013-04-29,22567.63086,22647.58984,22488.65039,22580.76953,22580.76953,1.351366e+09,2935.500039,s
6501,HSI,2013-04-30,22769.58984,22862.68945,22669.53906,22737.00977,22737.00977,1.599209e+09,2955.811270,s
6502,HSI,2013-05-02,22692.33008,22706.07031,22552.31055,22668.30078,22668.30078,1.434954e+09,2946.879101,s
6503,HSI,2013-05-03,22811.83984,22886.16992,22678.66992,22689.96094,22689.96094,1.280292e+09,2949.694922,s
6504,HSI,2013-05-06,22967.77930,22980.56055,22864.91016,22915.08984,22915.08984,1.327646e+09,2978.961679,s

In [16]:
## Now we can join the two Df's (not merge, but concatenate--
## We're doing this method as it's otherwise like comparing apples to oranges, where our indices are those fruits.
## i.e. stock index vs. currency-- can't merge on any column data as the results wouldn't make much sense.)
final_df = updated_stock_df.append(crypto_df, sort=False).reset_index().drop(columns = {"index"})
final_df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD,ID,Market Cap
0,HSI,2013-04-29 00:00:00,22567.6,22647.6,22488.7,22580.8,22580.76953,1.35137e+09,2935.500039,s,NaN
1,HSI,2013-04-30 00:00:00,22769.6,22862.7,22669.5,22737,22737.00977,1.59921e+09,2955.811270,s,NaN
2,HSI,2013-05-02 00:00:00,22692.3,22706.1,22552.3,22668.3,22668.30078,1.43495e+09,2946.879101,s,NaN
3,HSI,2013-05-03 00:00:00,22811.8,22886.2,22678.7,22690,22689.96094,1.28029e+09,2949.694922,s,NaN
4,HSI,2013-05-06 00:00:00,22967.8,22980.6,22864.9,22915.1,22915.08984,1.32765e+09,2978.961679,s,NaN

In [17]:
## Now let's drop data from the merged dataframe that is specific to one dataframe and not the other
final_df = final_df.drop('Adj Close', 1).drop('Market Cap', 1).drop('CloseUSD', 1)
final_df.head()

,Index,Date,Open,High,Low,Close,Volume,ID
0,HSI,2013-04-29 00:00:00,22567.6,22647.6,22488.7,22580.8,1.35137e+09,s
1,HSI,2013-04-30 00:00:00,22769.6,22862.7,22669.5,22737,1.59921e+09,s
2,HSI,2013-05-02 00:00:00,22692.3,22706.1,22552.3,22668.3,1.43495e+09,s
3,HSI,2013-05-03 00:00:00,22811.8,22886.2,22678.7,22690,1.28029e+09,s
4,HSI,2013-05-06 00:00:00,22967.8,22980.6,22864.9,22915.1,1.32765e+09,s

In [18]:
## For clarity, let's drop the redundant timestamp

final_df["Date"] = pd.to_datetime(final_df["Date"]).dt.date

In [19]:
final_df

,Index,Date,Open,High,Low,Close,Volume,ID
0,HSI,2013-04-29,22567.6,22647.6,22488.7,22580.8,1.35137e+09,s
1,HSI,2013-04-30,22769.6,22862.7,22669.5,22737,1.59921e+09,s
2,HSI,2013-05-02,22692.3,22706.1,22552.3,22668.3,1.43495e+09,s
3,HSI,2013-05-03,22811.8,22886.2,22678.7,22690,1.28029e+09,s
4,HSI,2013-05-06,22967.8,22980.6,22864.9,22915.1,1.32765e+09,s
...,...,...,...,...,...,...,...,...
50292,bitcoin-sv,2013-05-02,3.78,4.04,3.01,3.37,0,c
50293,bitcoin-sv,2013-05-01,4.29,4.36,3.52,3.80,0,c
50294,bitcoin-sv,2013-04-30,4.40,4.57,4.17,4.30,0,c
50295,bitcoin-sv,2013-04-29,4.37,4.57,4.23,4.38,0,c
50296,bitcoin-sv,2013-04-28,4.30,4.40,4.18,4.35,0,c

In [20]:
## Need to create a dataframe with primary keys

index_dict = final_df.groupby(["Index"]).first()["ID"].to_dict()
index_df = pd.DataFrame.from_dict(index_dict,orient='index')
index_df = index_df.reset_index().rename(columns = {'index' : 'Index'})
index_df = index_df.rename(columns={index_df.columns[1]: 'ID'})

In [21]:
index_df

           Index ID
0      000001.SS  s
1      399001.SZ  s
2          GDAXI  s
3         GSPTSE  s
4            HSI  s
5           IXIC  s
6        J203.JO  s
7           N100  s
8           N225  s
9           NSEI  s
10           NYA  s
11          SSMI  s
12          TWII  s
13  binance-coin  c
14       bitcoin  c
15  bitcoin-cash  c
16    bitcoin-sv  c
17       cardano  c
18           eos  c
19      ethereum  c
20      litecoin  c
21       stellar  c
22        tether  c
23         tezos  c
24           xrp  c

In [22]:
## Now let's drop ID from our df's now that we have that information stored in another table
final_df = final_df.drop('ID', 1)
crypto_df = crypto_df.drop('ID', 1)
updated_stock_df = updated_stock_df.drop('ID', 1)

## Now we can begin the creation of the SQL database and table

In [23]:
from sqlalchemy import create_engine
from config import password
import psycopg2

In [24]:
## establishing the connection with database. This checks whether or not the database exists before creation. If it is,
## it will tell you. Then move onto the next cell

conn = None
try:
    conn = psycopg2.connect(
       database="postgres", user='postgres', password=password, host='127.0.0.1', port= '5432'
    )

except:
    print('Database not connected.')
    
if conn is not None:
    conn.autocommit = True

    #Creating a cursor object
    cursor = conn.cursor()

    cursor.execute("SELECT datname FROM pg_database;")
    
    list_database = cursor.fetchall()
    database_name = 'stock_crypo_db'
    
    if (database_name,) in list_database:
        print(f"'{database_name}' Database already exists")
    else:
        #Preparing query to create a database
        sql = '''CREATE database stock_crypo_db''';

        #Creating a database
        cursor.execute(sql)
        print("Database created successfully!")

#Closing the connection
conn.close()

'stock_crypo_db' Database already exists

In [25]:
## Connect to local database
rds_connection_string = f"postgres:{password}@localhost:5432/stock_crypo_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [26]:
## Check to see if there are any tables already in the database
engine.table_names()

['index_id', 'crypto_data', 'stock_data', 'all_data']

In [27]:
## Now let's put our index ID into a table and read
## S corresponds with stock indices
## C corresponds with cryptocurrency name

index_df.to_sql(name='index_id', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from index_id', con=engine).head()

       Index ID
0  000001.SS  s
1  399001.SZ  s
2      GDAXI  s
3     GSPTSE  s
4        HSI  s

In [28]:
## Now let's put our crypto data into a table and read
crypto_df.to_sql(name='crypto_data', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from crypto_data', con=engine).head()

   Index       Date  Open  High   Low Close      Volume   Market Cap
0  tezos 2019-12-04  1.29  1.32  1.25  1.25  46,048,752  824,588,509
1  tezos 2019-12-03  1.24  1.32  1.21  1.29  41,462,224  853,213,342
2  tezos 2019-12-02  1.25  1.26  1.20  1.24  27,574,097  817,872,179
3  tezos 2019-12-01  1.33  1.34  1.25  1.25  24,127,567  828,296,390
4  tezos 2019-11-30  1.31  1.37  1.31  1.33  28,706,667  879,181,680

In [29]:
## Now let's put our stock data into a table and read
updated_stock_df.to_sql(name='stock_data', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from stock_data', con=engine).head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,2013-04-29,22567.63086,22647.58984,22488.65039,22580.76953,22580.76953,1.351366e+09,2935.500039
1,HSI,2013-04-30,22769.58984,22862.68945,22669.53906,22737.00977,22737.00977,1.599209e+09,2955.811270
2,HSI,2013-05-02,22692.33008,22706.07031,22552.31055,22668.30078,22668.30078,1.434954e+09,2946.879101
3,HSI,2013-05-03,22811.83984,22886.16992,22678.66992,22689.96094,22689.96094,1.280292e+09,2949.694922
4,HSI,2013-05-06,22967.77930,22980.56055,22864.91016,22915.08984,22915.08984,1.327646e+09,2978.961679

In [30]:
## Now let's put our merged data into a table and read
final_df.to_sql(name='all_data', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from all_data', con=engine).head()

,Index,Date,Open,High,Low,Close,Volume
0,HSI,2013-04-29,22567.63086,22647.58984,22488.65039,22580.76953,1351365700.0
1,HSI,2013-04-30,22769.58984,22862.68945,22669.53906,22737.00977,1599208700.0
2,HSI,2013-05-02,22692.33008,22706.07031,22552.31055,22668.30078,1434954200.0
3,HSI,2013-05-03,22811.83984,22886.16992,22678.66992,22689.96094,1280291900.0
4,HSI,2013-05-06,22967.7793,22980.56055,22864.91016,22915.08984,1327646200.0

In [31]:
## Now let's set the primary key and foreign keys for Index

In [71]:
with engine.connect() as conn:
    ## Drop key constraints if already in place
    conn.execute('ALTER TABLE crypto_data DROP CONSTRAINT "crypto_data_Index_fkey";')
    conn.execute('ALTER TABLE stock_data DROP CONSTRAINT "stock_data_Index_fkey";')
    conn.execute('ALTER TABLE all_data DROP CONSTRAINT "all_data_Index_fkey";')
    conn.execute('ALTER TABLE index_id DROP CONSTRAINT index_id_pkey;')
    
    ## establish key constraints
    conn.execute('''ALTER TABLE index_id ADD PRIMARY KEY ("Index");''')
    conn.execute('ALTER TABLE crypto_data ADD FOREIGN KEY ("Index") REFERENCES index_id("Index");')
    conn.execute('ALTER TABLE stock_data ADD FOREIGN KEY ("Index") REFERENCES index_id("Index");')
    conn.execute('ALTER TABLE all_data ADD FOREIGN KEY ("Index") REFERENCES index_id("Index");')